@import "../../Variables/variables";

.header {
  position: relative;
  width: 100%;
  height: 56px;
  background-color: #0093AB;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  @media screen and (min-width: $mb) {
    height: 88px;
    width: 100%;
  }
  h1 {
    margin: 0;
    display: inline-block;
    font-size: 24px;
    font-weight: normal;
    line-height: 56px;
    margin-left: 16px;
    &:hover {
      opacity: 0.7;
    }
    @media screen and (min-width: $mb) {
      font-size: 40px;
      font-weight: bold;
      line-height: 88px;
      margin-left: 56px;
    }
  }
  .mobilemenu {
    position: absolute;
    width: 32px;
    height: 32px;
    line-height: 62px;
    right: 21px;
    z-index: 99;
    .crossmark {
      width: 20px;
      height: 20px;
      animation: open 1s forwards;
      @keyframes open {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
    @media screen and (min-width: $mb) {
      display: none;
    }
  }
  .pcmenu {
    display: none;
    @media screen and (min-width: $mb) {
      display: block;
      font-size: 24px;
      line-height: 40px;
      margin-right: 56px;
      list-style: none;
      display: flex;
      li:first-child {
        margin-right: 80px;
      }
      a:hover {
        opacity: 0.7;
      }
      span:hover {
        opacity: 0.7;
      }
    }
    .sign{
      cursor: pointer;
    }
  }
}
.modalback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 97;
}